{%- macro postsList(posts) -%}
{%- from "macros/tags-list.njk" import tagsList %}

<ul class="post-list">
    {% for post in posts | sortDesc %}
    <li class="post-list-item">
        <a class="post-list-item-title" href="{{ post.url }}">{{ post.data.title }}</a>
        <p class="post-list-item-exerpt">
            {{ post.data.post_excerpt }}
            <i><a href="{{ post.url }}">Read more...</a></i>
        </p>
        <div class="post-list-item-meta">
            <time datetime="{{ post.data.date | dateISO }}">{{ post.data.date | datePretty }}</time>
            {{ tagsList(post.data.tags) }}
        </div>
    </li>
    {% endfor %}
</ul>
{% endmacro %}