{%- macro tagsList(tags) -%}
    {% for tag in tags.sort() %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl }}" class="post-meta-tags-tag">{{ tag }}</a>
    {% endfor %}
{% endmacro %}