<!DOCTYPE html>
<html lang='en'>
<head>
    {% include './_head.njk' %}
</head>
<body>
    <header>
        {% include './_header.njk' %}
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        {% include './_footer.njk' %}
    </footer>

    {% include './_scripts.njk' %}
</body>
</html>