<!DOCTYPE html>
<html lang='en'>
<head>
    {% include './_head.njk' %}
</head>
<body>
    <header>
        <!-- header here -->
        {% include './_header.njk' %}
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <!-- footer here -->
        {% include './_footer.njk' %}
    </footer>
</body>
</html>