<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description or metadata.description }}">
<meta name="author" content="{{ author or metadata.author }}"/>
<title>{{ title or metadata.title }} | {{ metadata.title }}</title>

<!-- stylesheets here -->
<link rel="stylesheet" type="text/css" href="/assets/css/mvp.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css"/>