<nav>
    <a href="/"><img src="https://icongr.am/material/death-star-variant.svg?size=70&color=3D5A80"/></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>