<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.liquid %}
</head>
<body>
    <header>
        <!-- header here -->
        {% include header.liquid %}
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <!-- footer here -->
        {% include footer.liquid %}
    </footer>
</body>
</html>