:root{
}

.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-list-item{
    padding: 0;
    margin: 2rem 0;
}

.post-list-item-title{
    font-size: 1.75rem;
}

.post-list-item-excerpt{
}

.post-list-item-meta{
    font-style: italic;
    color: var(--font-color-med);
}

/* post pages */
.post{
}

.post-meta{
    color: var(--font-color-med);
}

.post-meta-tags{
}

.post-meta-tags-tag{
    margin: 0 3px;
}