:root{
    --color: #003D5B;
    --color-secondary: #30638E;
    --color-accent: #EDAE49;
}

header,footer,main{
    padding: 1rem;
}

nav{
    margin-bottom: 1rem;
}

ul.post-entries{
    list-style-type: none;
    padding-left: 0;
}

ul.post-entries .post-entry-title{
    font-size: 1.2em;
}

ul.post-entries .post-list-entry time{
    color: var(--color-text-secondary);
}

/* post pages */
article.post h1{
    margin-bottom: 0;
}
article.post time{
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
}

span.tag{
    margin: .5rem .25rem;
    padding: .35rem;
    background-color: var(--color-accent);
    font-size: .75rem;
    border-radius: 8px;
}
