:root{
    --width-content: 1200px;
}

/* Layout */
html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:0 auto;
    overflow-x: hidden;
    max-width: var(--width-content);
}

header, main, footer{
    padding: 1rem;
}

header{
    flex-shrink: 0;
}

main{
    flex-grow: 1;
}

footer{
    flex-shrink: 0;
}

/* Navigation */
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin: 0 .5rem;
}