---
title: All Posts
layout: layouts/_regular.njk
eleventyExcludeFromCollections: true
---
{% from "macros/posts-list.njk" import postsList %}

<h1>{{ title }}</h1>

<div>
    Filter by:
    {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl }}" class="post-meta-tags-tag">{{ tag }}</a>
    {% endfor %}
</div>

{{ postsList(collections.posts) }}