---
title: All Posts
layout: layouts/_regular.njk
eleventyExcludeFromCollections: true
---
{% from "macros/posts-list.njk" import postsList %}

<p>This is the Posts page, where all the posts that you've written are listed. In this case, a custom collection called <code>posts</code> is used to populate the list. The collection is defined in the <code>.eleventy.js</code> configuration file. It looks for any markdown file in the <code>./src/posts/</code> directory. The list is generated any time the site is rebuilt.</p>

<div>
    Filter posts by:
    {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl }}" class="post-meta-tags-tag">{{ tag }}</a>
    {% endfor %}
</div>

{{ postsList(collections.posts) }}