---
title: Contact Me
layout: layouts/_regular.njk
---

<h1>{{ title }}</h1>

<form>
    <label for="name">
        Name: <input type="text" id="name" name="vistor_name"/>
    </label>   

    <label for="email">
        Email: <input type="text" id="email" name="vistor_email"/>
    </label>
    
    <button type="submit">Send</button>
</form>