---
layout: layouts/_base.njk
---

<h1>{{ metadata.title }}</h1>

<hr/>

<p>Eleventy Skeleton is a starter site template to be used with the static site generator, <a href="https://www.11ty.dev/">Eleventy</a> (also known as 11ty).</p>

<p>You can find the source for this site, as well as setup and usage instructions, on Github at <a href="https://github.com/sphars/eleventy-skeleton/">sphars/eleventy-skeleton</a>.</p>
