<footer>    
    <div>
        <p>Built with <a href='https://www.11ty.dev/'>Eleventy &nearr;</a> and <a href="https://sphars.github.io/yacck/">YACCK &nearr;</a></p>
        <p>&copy; 2020 {{ metadata.author }} | <a href="{{ metadata.repo }}">View Source</a></p>
    </div>
</footer>