<header>
    <div>
        <a href="/"><img src="/assets/img/logos/vector/default-monochrome-white.svg" alt="Eleventy Skeleton"/></a>
        <p><i>An Eleventy Starter Site</i></p>
    </div>

    {% include 'partials/_navigation.njk' %}
    
</header>
